$orange : #e0390c;
$orange-lighter: #dd5733;
$orange-darker: #b7310d; 

$blue : #188CAD;
$green : #6EA32B;
$purple : #6A3F4D;
$brown : #8d6e36;
$grey : #363636;
$grey-light : #E0E0E0;
$beige : #e8e2bf;  

$textcolor: #111;
$almostwhite: #fdfdfd;
