$orange : #e0390c;
$orange-lighter: #dd5733;
$orange-darker: #b7310d; 

$blue : #8fcee0;
$green : #94c847;
$purple : #7e525f;
$brown : #8d6e36;
$grey : #363636;
$grey-light : #E0E0E0;
$beige : #e8e2bf;  
$error : red;


$textcolor: #111;
$almostwhite: #fdfdfd;

