body {
    background-color:$almostwhite;
    color:$textcolor;
    font-family:"Helvetica", sans-serif;
}

.container { 
    width:100%;
    margin: 0;
    padding: 0 1rem;
    
}

a {
    text-decoration:none;
    color:$orange;

    &:hover {
        color:$orange-lighter;
    }
}


p {
    line-height:2.4rem;
    margin-bottom:1rem;


}

/* Navigation menu */

header {
    height:7rem;

    width:100%;
    padding:0 1rem;
    margin-bottom:4rem;
    background-color:$orange;
    color:$almostwhite;

    .logo {
        height:6rem;
        max-width:20rem;
        margin-right:4rem;
        margin-top:0.5rem;
        display:inline-block;
        float:left;
        
        img {
            height:100%;
        }

    }

    ul {
        width:100%;
        height:100%;
        margin: 0;
    }

    .menuitem {
        display:inline-block;

        a {
            padding: 1rem 2rem;
            line-height:10rem;
            color:$almostwhite;
            border-radius:5px 5px 0 0;
        
            font-size:1.8rem; 

            &:hover, &.active {
                background-color:$almostwhite;
                color:$orange;
            }
        }

    }

}


/* End of navigation menu */


/* Button styles */
a.btn {
    padding:1rem 2rem;
    display:inline-block;
    box-sizing:border-box;
 
    transition:0.4s ease-in-out;
    border-radius:5px;

    margin-right:1rem;

}

.btn-secondary {
    background-color:$almostwhite;
    color:$orange;
    border:2px solid $orange;

}

a.btn-secondary:hover {
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.15);
    color:$orange-darker;
    border-color:$orange-darker;
}

.btn-primary {
    background-color:$orange;
    color:$almostwhite;
    border:2px solid $orange; // Not respecting box-sizing!?
}

a.btn-primary:hover {
    background-color:$orange-darker;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.15);
    color:#fff;
    border:2px solid $orange-darker; // Not respecting box-sizing!?
}



/* End of button styles */

/* Media queries */

@media (min-width: 960px) {

    header ul, .container {
        width:960px;
        margin:0 auto;
        padding:0;
    }

}
/* End of media queries */
