body {
    background-color:$almostwhite;
    color:$textcolor;
    font-family:"Helvetica", sans-serif;
}

.container { 
    width:100%;
    margin: 0;
    padding: 0 0.5rem;

}

a {
    text-decoration:none;
    color:$orange;

    &:hover {
        color:$orange-lighter;
    }
}


p {
    line-height:2.4rem;
    margin-bottom:1rem;
}


/* Navigation menu */

header {
    height:30rem;

    width:100%;
    padding:0 1rem;
    margin-bottom:1rem;
    background-color:$orange;
    color:$almostwhite;

    .logo {
        height:6rem;
        width:100%;
        text-align:center;

        display:inline-block;
        float:left;
        
        img {
            height:100%;
        }

    }

    ul {
        width:100%;
        height:100%;
        margin: 0;
    }

    .menuitem {
        display:inline-block;
        width:100%;
        margin-bottom:1rem;

        a {
            width:100%;
            line-height:5rem;
            display:inline-block;
            border-radius:5px;

            color:$almostwhite;
            text-align:center;

            font-size:1.8rem; 

            &:hover, &.active {
                background-color:$almostwhite;
                color:$orange;
            }
        }

    }

}
/* End of navigation menu */


/* Button styles */
.btn {
    padding:1rem 2rem;
    margin-right:1rem;
    margin-bottom:1rem;
    text-align:center;

    min-width:16rem;

    height:4rem;
    display:inline-block;
    float:left;

    transition:0.4s ease-in-out;
    border-radius:5px;
}

.btn-primary {
    background-color:$orange;
    color:$almostwhite;
}

.btn-primary:hover {
    background-color:$orange-darker;
    color:#fff;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.btn-secondary {
    padding-top:0.8rem;

    background-color:$almostwhite;
    color:$orange;
    border:2px solid $orange;
     
}

.btn-secondary:hover {
    color:$orange-darker;
    border-color:$orange-darker;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.15);
}



/* End of button styles */

/* Media queries */

@media (min-width: 550px) {
    /* Navigation menu */
    header {
        height:7rem;

        .logo {
            height:6rem;
            max-width:20rem;
            width:auto;
            text-align:left;
            margin-right:4rem;
            margin-top:0.5rem;

        }

        .menuitem {
            width:auto;

            a {                
                width:auto;
                line-height:10rem;
                display:inline;
                border-radius:5px 5px 0 0;

                padding: 1rem 2rem;

            }

        }

    } 
    /* End of navigation menu */

}

@media (min-width: 960px) {
    /* Header */
    header {
        margin-bottom:4rem;
    }
    header ul, .container {
        width:960px;
        margin:0 auto;
        padding:0;
    }
    /* End of header */

}
/* End of media queries */
