article h1 {
    font-size:2.2rem;
    font-weight:800;
    margin-bottom:1rem;
    clear:left;
}

article {
    margin-bottom:4rem;
    border:1px solid $grey-light;
    padding:2rem;
    padding-bottom:1rem;
}

.service-icon {
    
    width:10rem;
    height:10rem;

    padding:2.5rem;
    margin-right:4rem;

    border-radius:50%;
    border:2px solid $blue;
    background-color:$blue;
}

.service-icon img {
    
    max-height:5rem;
    max-width:5rem;

}
