article h1, .service-detail-content h1 {
    font-size:2.2rem;
    font-weight:800;
    margin-bottom:1rem;
    clear:left;
}

article {
    margin-bottom:6rem;
    border:1px solid $grey-light;
    padding:1rem;
    padding-bottom:1rem;
}

.service-detail-content {
    border:1px solid $grey-light;
    padding:2rem;
}

/* Zendesk articles */
.service-detail-content article h1 {
    font-size:1.8rem;
}



/* Concerning service-icons */
    .service-icon-container {
        width:100%;
        float:left;
    }
    .service-icon {
        max-width: 10rem;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
/* End of concerning service-icons */


.service-content {
    width:100%;
    float:left;
}

@media (min-width:760px) {
    .service-icon-container {
        width:15%;
        margin:0 2% 0 0;
    }

    .service-content {
        width:83%;
    }

    article {
        margin-bottom:4rem;
        padding:2rem;
    }
}