.loader {
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top:13rem;
    width: 20px;
}

.loader-airbox {
    position:relative;
    width: 100%;
}

.graph-airplaceholder {
    height:35rem;
}

.bigstats-airbox {
    height:70rem;
}

.general{
    margin-bottom : 6rem;

    :first-child{
        border:none;
    }
    
}

.dashboard-title{
    font-size: 4rem;
}

.stat{
    width: 100%;
    .number{
        padding-top:2rem;
        text-align: center;
    }
    .stat-title{
        color: #afafaf;
        text-align: center;
    }

    .orange{
        color: $green; 
    }

    .blue{
        color: $blue;
    }

    .purple{
        color: $orange;
    }

}

.item{
    color: #afafaf;
}

.storage{
    line-height: 16rem;

    .massivetext{
        font-size: 4rem;
        color: $purple;
    }
}

/* Graph buttons styles */
.graphcontainer {
    padding:1rem;
    min-height:35rem;
}

.progresscontainer {
    padding:1rem;
}

#progress {
    
}

.graphtitle {
    font-size:2.6rem;
    font-weight:600;
    margin:1rem 0 2rem;
}

.graphs-btns-container, .graphs-databtns-container {
    height:4rem;
    line-height:3rem;
    margin-bottom:1.5rem;
}

.graphs-databtns-container{
    float: right;
    width: 18rem;
}

.graphs-btns-container{
    float: left;
}

.sub-graphs-btns-container{
    float: left; 
    width: 14rem;
}

.graphs-btns-container a, .graphs-databtns-container a {
    display:inline-block;
    padding:0 1rem;
    border-radius: 4px;
    transition: 0.4s ease-in-out;
    margin-bottom: 0.5rem;
    margin-right:0.5rem; 
}

.graphs-btns-container a, .graphs-databtns-container a{
    border: 1px solid #afafaf;
    border-radius: 2rem;
    color: #afafaf;
    font-size: 1.4rem;
    text-align: center;
}

.graphs-btns-container a { 
    float:left;
    width: 6.5rem;
}

.graphs-databtns-container a {
    float:right;
    width: 9rem;    
}

.graphs-btns-container a:hover, .graphs-databtns-container a:hover{
    border: 1px solid $orange;
    border-radius: 2rem;
    color:$orange;    
}
.graphs-btns-container a.active, .graphs-databtns-container a.active {
    border: 1px solid $orange;
    border-radius: 2rem;
    color:$orange;
}



/* End of graph button styles */

@media (min-width:550px) {
    .general{
        border-top : 1px solid #afafaf;
    }

    .bigstats-airbox {
        height: 45rem;
        :first-child{
            margin-bottom: 2rem
        }
    }

    .stat{
        border-left: 1px solid #afafaf;
        width: 33.33333%;
        .bigtext{
            font-size: 3rem;
        }
    }
    .storage{
        line-height: 22rem;
        .massivetext{
            font-size: 6rem;
        }
    }

    .graphs-databtns-container{
    width: 19rem;
    }


}

@media (min-width:813px) {
    .general{
        border-top : 1px solid #afafaf;
    }

    .bigstats-airbox{
        height: 55rem;
    }

    .stat{
        .bigtext{
            font-size: 6rem;
        }
    }

    .graph-airplaceholder {
        height:61.4rem;
    }
}
