.loader {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
}

.loader-airbox {
    height:12rem;
    padding:6rem;
    width: 100%;
}

.general{
    border-top: 1px solid #afafaf;
    margin-bottom : 6rem;
    :first-child{
        border:none;
    }
}

.dashboard-title{
    font-size: 4rem;
}

.stat{
    border-left: 1px solid #afafaf;
    .number{
        padding-top:2rem;
        text-align: center;
    }
    .stat-title{
        color: #afafaf;
        text-align: center;
    }

    .orange{
        color: $green; 
    }

    .blue{
        color: $blue;
    }

    .purple{
        color: $orange;
    }

}

.item{
    color: #afafaf;
}

.storage{
    line-height: 22rem;

    .massivetext{
        color: $purple;
    }
}

.menu {
    border: 1px solid $orange-lighter;
    width: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #fff;
}
.menu li {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.menu li a {
    color: $grey-dark; 
}

.dropdown a{
    display: block;
    width: 12rem;
    background: #fff url("../assets/arrowdown.gif") no-repeat 100% 50%;
}
.dropdown-menu {
    position: absolute;
    position: absolute;
    background-color: #fff;
    width: 15rem;
    margin-left: -9px;
    border: 1px solid $orange-lighter;
    border-top: 0px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: none;

    .dropdown-item{
        margin-top: 1rem;
    }
}

.dropdown-menu a{
    background: none;
}

.dropdown-menu li:hover{
    background-color: $orange-lighter;
    a{
        color: #fff;
    }
    
}
.dropdown-menu li {
    float: none;
}

