/* Navigation menu */
header {
    height:30rem;
    width:100%;
    padding:0;
    background-color:$almostwhite;
    color:$almostwhite;

    @media (min-width: 575px){
        height: 11rem;
    }

    .navigation {
        padding-top:1rem;

        @media (min-width: 600px){
            display:block;
        }
    }

    .logo {
        height:3rem;
        width:100%;
        
        display:inline-block;
        
        @media (min-width: 600px) {
            
        }

        img {
            height: 100%;

            @media (min-width: 600px) {
                display:inline-block;
                vertical-align:middle;
                // height:150%;
            }
        }

        @media (min-width: 600px) {
            height:7.8rem;
            width:auto;
            text-align:left;
            margin-right:5rem;
            margin-top:0.5rem;
        }
    }

    ul {
        width:100%;
        margin: 0; 

        @media (min-width: 960px) {
            width:960px;
            margin:0 auto;
            padding:0;
            padding-top: 1.5rem;
            //overflow:visible;
        }
    }

    .menuitem {
        display:inline-block;
        width:100%;

        @media (min-width:600px) {
             width:auto;
        }

        .mainlink {
            width:100%;
            line-height:5rem;
            display:inline-block;
            border-radius:5px;
            font-size:2rem; 

            position:relative;

            color:$orange;
            text-align:left;

            &.active{
                //background-color: $orange;
                //color : $almostwhite;
                border-bottom:2px solid $orange;
                background-color: transparent;
                color : $orange;
            }

            @media (min-width: 600px) {
                font-size: 1.8rem;
                border-radius:0px;

                &.active{
                    border-bottom:2px solid $orange;
                    background-color: transparent;
                    color : $orange;
                }

                font-size: 2.3rem;
                display:inline;
                border-radius:5px 5px 0 0;
                padding: 1rem 2rem;

                &:hover {
                    background-color:$almostwhite;
                    color:$orange;
                }
                
                &:after{
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: $orange;
                    content: "";
                    transition: width 0.2s;    
                }
                &:hover:after{
                    width:100%;
                }
            }
        }
    }
    
    .menuitem {

        @media (min-width:775px) {
           

            .mainlink {                
                

            }

        }
    }

    
    .logout:hover .logoutmenu {
        display:block;
    }

}


.menuitem-user { 
   position: relative;
   float:right;
   padding:0 2rem 2rem 9rem;
}

.menuitem-user:hover .user-container, .menuitem-user:active .user-container {
    display:block;
}

.menuitem-user:hover .user, .menuitem-user:active .user {
    background-color:$orange-lighter;
}

.user { // The icon container
    margin-top:2rem;
    
    border-radius:50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;

    font-size: 3rem;
    text-align: center;

    background-color:$orange;
    transition: 0.2s ease-in-out;
}


.icon-user {
    color:$almostwhite;
}

.user-container {   // The popup menu
    border: 1px solid $grey-light;

    position:absolute;
    top: 8.2rem;    
    right: 0;

    background-color:$almostwhite;
    color:$textcolor;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);

    padding: 1rem;

    width: 24rem;
    
    transition: none;
    display:none;

    p {
        font-size:1.8rem;
        margin-bottom:2rem;
    }

    a {
        display:block;
        margin: 0 auto 1rem auto;

        font-size:1.8rem;

        height:3rem;
        line-height:2rem;
        text-align:center;
        transition: .2s ease-in-out;

        font-family:$viaafont;

        &:hover {
            border-bottom: 1px solid $orange;
        }

        &:last-child {
            margin-bottom:0;
        }
    }

}
