body {
    background-color:$grey-bg;
    color:$textcolor;
    font-family:'proxima-nova-regular',"Helvetica", sans-serif;
}

header, body h1{
    font-family:'proxima-nova-cond',"Helvetica", sans-serif;
}

.container { 
    width:100%;
    margin: 0;
    padding: 0 0.5rem;

}

.underline {
    text-decoration:underline;
}

a {
    //font-family:'proxima-nova-cond',"Helvetica", sans-serif;
    text-decoration:none;
    color:$orange;

    &:hover {
        color:$orange-lighter;
    }
}


p {
    line-height:2.4rem;
    margin-bottom:1rem;
}

.error {
    color: $error;
}

strong {
    font-weight:800;
}

h1 {
    font-size:2.4rem;
    font-weight:800;
}

.bigtext {
    font-size:6rem;
    font-weight:800;
    line-height:4rem;
}

.massivetext {
    font-size:7rem;
    line-height:7rem;
    font-weight:800;
}

[v-cloak] {
    display: none;
}

.mb7 {
    margin-bottom:7rem;
}

.mb10 {
    margin-bottom:10rem;
}
.mt7 {
    margin-top:7rem;
}

.mt10 {
    margin-top:10rem;
}

/* Navigation menu */
header {
    height:30.25rem;
    width:100%;
    padding:0 1rem;
    margin-bottom:1rem;
    background-color:$almostwhite;
    color:$almostwhite;

    ul {
        width:100%;
        height:100%;
        margin: 0;
        text-align: left;
        display: block;
    }

    .menuitem, .logout {
        display:inline-block;

        a {
            width:100%;
            line-height:5rem;
            display:inline-block;
            border-radius:5px;

            color:$orange;
            text-align:left;

            position: relative;
            
            &.active{
                background-color: $orange;
                color : $almostwhite;
            }
        }
    }
    
    .menuitem {
        width:100%;

        a {
            font-size:2rem; 
        }
    }

    .logout {
        display:inline-block;
        float:right;
    }

}

.logo {
    height:3rem;
    position:absolute;
    top: 1rem;
    width:100%;
    text-align:left;
    display:inline-block;
    
    img {
        height: 130%;
    }

}

.navigation:first-child{
    padding-top: 1rem;
}
/* End of navigation menu */


/* Button styles */
.btn {
    padding:1rem 2rem;
    margin-right:1rem;
    margin-bottom:1rem;
    text-align:center;

    min-width:18rem;

    height:4rem;
    display:inline-block;

    transition:0.4s ease-in-out;
    border-radius:5px;
}

.btn-primary {
    background-color:$orange;
    color:$almostwhite;
}

.btn-primary:hover {
    background-color:$orange-lighter;
    color:$almostwhite;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    padding-top:0.8rem;
    background-color:$almostwhite;
    color:$orange;
    border:2px solid $orange;
}

.btn-secondary:hover {
    color:$orange-lighter;
    border-color:$orange-lighter;
    box-shadow:2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-ternary {
    color:$almostwhite;
    background-color:$blue2;
}

.btn-ternary:hover {
    color:$almostwhite;
    background-color:$blue;
}

/* End of button styles */

/* Footer */
footer {
    width:100%;
    float:left;
    background-color:$grey-dark;
    color:$almostwhite;
    padding:2rem;
    line-height:3.2rem;
    margin-top:5rem;
}

.logo-footer {
    display:block;
    float:right;
    width:5.5rem;
}

// Might become unneccesary if footer gets filled
/*.lowfootertext {
    margin:4rem 2rem 4rem 0;
}*/

/* End of footer */


/* Media queries */

@media (min-width: 575px){
    header{
        height: 15rem;
        .navigation{
            display:flex;
        }

        .menuitem{
            
            a{
                font-size: 1.8rem;
                border-radius:0px;

                &.active{
                    border-bottom:2px solid $orange;
                    background-color: transparent;
                    color : $orange;
                }
            }   
        }

        .logo{
            position:relative;

            img{
                height: 150%;
            }
        }

    }   
}
@media (min-width: 775px) {
    /* Navigation menu */
    header {
        height:15rem;
        .navigation{
            display:block;
        }
        .logo {
            top: 0;
            height:6rem;
            max-width:20rem;
            width:auto;
            text-align:left;
            margin-right:4rem;
            margin-top:0.5rem;

        }

        .menuitem {
            width:auto;

            a {                
                //width:auto;
                font-size: 2.3rem;
                line-height:12rem;
                display:inline;
                border-radius:5px 5px 0 0;
                padding: 1rem 2rem;

                &:hover {
                    background-color:$almostwhite;
                    color:$orange;
                }
                
                &:after{
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: $orange;
                    content: "";
                    transition: width 0.2s;    
                }
                &:hover:after{
                    width:100%;
                }

            }

        }

    } 
    /* End of navigation menu */

}

@media (min-width: 960px) {
    /* Header */
    header {
        margin-bottom:1rem;
    }
    header ul, .container {
        width:960px;
        margin:0 auto;
        padding:0;
        padding-top: 3rem;
        overflow:hidden;
    }

    .logo img{
        display: block;
        height: 200%;
    }
    /* End of header */

}
/* End of media queries */
