article h1, .service-detail-content h1 {
    font-size:2.2rem;
    font-weight:800;
    margin-bottom:1rem;
    clear:left;
}

article {
    margin-bottom:6rem;
    border:1px solid $grey-light;
    padding:1rem;
    padding-bottom:1rem;

    @media (min-width:550px) {
        margin-bottom:4rem;
        padding:2rem;
    }
}

.service-detail-content.first {
    border-top: 1px solid $grey-light;
}

.service-detail-content {
    border:1px solid $grey-light;
    border-top:none;
    padding:2rem;
}

/* Zendesk articles */
.service-detail-content article h1 {
    font-size:1.8rem;
}

/* Submenu for services titles */
.services-titles {
    padding:1rem 2rem;
    margin:-2rem 0 2rem;
}

.services-titles-item {
    display:inline-block;
    min-width:7rem;
    text-align:center;
    padding: 1rem 3rem 1rem 3rem;
    color:$orange;
    border: 1px solid transparent;

}

.services-titles-item:hover{
    background-color: $orange;
    color: $almostwhite;
    border: 1px solid $orange;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.services-titles .active{
    background-color: $orange;
    color: $almostwhite;
    border: 1px solid $orange;
    border-radius: 5px;
}

.service-icon-container {
    width:100%;
    float:left;
    margin-bottom:2rem;

    @media (min-width:550px) {
        width:12rem;
        padding-right:2rem;
    }
}
.service-icon {
    width: 10rem; 
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media (min-width:550px) {
        width: calc(100% - 12rem);

    }
}  

.service-content {
    width:100%;
    float:left;
}
