<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Title</title>
        <meta name="description" content=""> <!-- site description goes here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--  <link rel="apple-touch-icon" href="apple-touch-icon.png">-->
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="dist/styles.css">

    </head>
    <body>
        <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        <header>     
            <ul>
                <li class="logo"><a href="index.html"><img src="assets/logo.svg"/></a></li>
                <li class="menuitem"><a href="index.html">Home</a></li>
                <li class="menuitem"><a href="services.html" class="active">Services</a></li>
                <li class="menuitem"><a href="#">Reports</a></li>
                <li class="menuitem"><a href="#">About</a></li>
            </ul>
        </header>

        <div class="container col-8" id="service-detail" v-cloak>
            <!-- Here comes the content -->
            
            <article class="col col-12">
                <div class="service-icon-container">
                    <div class="service-icon {{ dataHard.img_classname }}">
                        <img src="assets/avo.svg" alt="{{ dataHard.img_alt }}"/>
                    </div>
                </div>
                <div class="service-content">
                    <h1>{{{ dataHard.title }}}</h1>

                    <p>
                        <a href="{{ dataHard.link_service }}" v-if="dataHard.available">&rarr; https://registratie.viaa.be/</a> &nbsp;
                    </p>
                    <p>
                        <a href="#" class="btn btn-secondary">Handleiding</a> 
                        
                        <a href="#" class="btn btn-primary" v-if='dataHard.available'>Naar Dienst</a>
                        <a href="#" class="btn btn-primary" v-else>Vraag toegang</a>
                    </p>
                    

                </div>
            </article>
            <article>
                <h1>Wat is {{ dataHard.service }}</h1>
                <p>
                    {{{ dataHard.description }}} 
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel lectus et ante dignissim consequat quis vitae libero. Fusce efficitur fermentum leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam vehicula sollicitudin ipsum, vel hendrerit magna sollicitudin ut. Nunc scelerisque ipsum sed tortor dignissim, et molestie dolor posuere. Donec suscipit eros sed sem volutpat, vulputate sodales urna posuere. Proin a augue enim. Vivamus vitae enim sed dolor pellentesque dapibus vel non ligula. Maecenas ut porta erat. Aenean et diam nunc. Nullam eget nulla sem. Donec mollis tortor eget erat venenatis, nec efficitur orci ultrices. Integer odio lectus, mollis in commodo ut, eleifend vitae urna.
                </p>
                <p>Nunc egestas urna nec lectus placerat bibendum eget eget nunc. Vestibulum aliquet enim nulla, ac aliquam metus molestie id. Nullam at porta enim, vel dapibus libero. Maecenas sagittis aliquam consectetur. Integer vel semper enim. Aliquam porttitor, purus a ultricies mollis, nisi eros congue mauris, et varius mauris quam ut lectus. Duis velit tellus, fermentum id massa eget, laoreet rutrum ex.</p>
                       
            </article>

        </div>

        <script src="dist/jquery.js"></script>
        <script src="dist/vue.js"></script> 
        <script src="js/app.js"></script>
        <script src="js/services-detail.js"></script> 
        
    </body>
</html>