<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Services - Mijn VIAA</title>
        <meta name="description" content=""> <!-- site description goes here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="dist/styles.css">
    </head>
    <body>
        <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        <header>    
            <ul>
                <li class="logo"><a href="index.html"><img src="assets/logo.svg"/></a></li>
                <li class="menuitem"><a href="index.html">Home</a></li>
                <li class="menuitem"><a href="services.html" class="active">Services</a></li>
                <li class="menuitem"><a href="reports.html">Reports</a></li>
                <li class="menuitem"><a href="#">About</a></li>
            </ul>
        </header>

        <div id="app"></div>

        <div class="container col-8" id="services-app">
            <article class="col col-12" v-for="item in serviceslist" v-if="item.available">
                <div class="service-icon-container">
                    <div class="service-icon {{ item.img_classname }}">
                        <img src="{{ item.img }}" alt="{{ item.img_alt }}"/>
                    </div>
                </div>
                <div class="service-content">
                    <h1>{{{ item.title }}}</h1>
                    <p>{{{ item.description }}}</p>
                    <p>
                        <a href="{{ item.link_info }}" class="btn btn-secondary">Meer informatie</a>
                        <a href="{{ item.link_service }}" class="btn btn-primary">Ga naar dienst</a>
                    </p> 
                </div>
            </article>               
        </div>

        <script src="dist/jquery.js"></script>
        <script src="dist/vue.js"></script> 
        
        <script src="js/app.js"></script> 
        <script src="js/services-app.js"></script>
    </body>
</html>
