<div id="services-app">
  <div class="container" v-cloak>
    <div class="services-titles">
                    <span v-for="service in serviceslist">
                        <a href="detail.html#{{ service.service}}" @click="reload" class="services-titles-item">{{ service.service }}</a>
                    </span>
    </div>

    <article class="col col-12" v-for="item in serviceslist">
      <div class="service-icon-container">
        <img class="service-icon" v-bind:src="item.img" alt="{{ item.img_alt }}"/>
      </div>
      <div class="service-content">
        <h1>{{{ item.title }}}</h1>
        <p>{{{ item.description }}}</p>
        <p>
          <a href="{{ item.link_info }}" class="btn btn-secondary">Meer informatie</a>
          <a href="{{ item.link_service }}" class="btn btn-primary" v-if="item.available"><span
                class="icon-right"></span>&nbsp; Ga naar dienst</a>
          <a href="#" class="btn btn-primary" v-else><span class="icon-lock-open-alt"></span> &nbsp; Vraag toegang</a>

        </p>
      </div>
    </article>
  </div>

  <footer v-cloak>
    <div class="container">
      <div class="col sm-col-8">
        <p class="lowfootertext">
          Voor meer info, mail naar <a href="mailto:support@viaa.be">support@viaa.be</a>.
        </p>
      </div>
      <div class="col sm-col-4 ">
        <p class="clearfix">
          <img src="assets/logo.svg" class="logo logo-footer" alt="Logo"/><br>
        </p>
        <p class="right">
          &copy; VIAA 2016
        </p>
      </div>
    </div>
  </footer>
</div>