<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Reports - Mijn VIAA</title>
        <meta name="description" content=""> <!-- site description goes here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="dist/styles.css">
    </head>
    <body>
        <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        <header>
            <ul class="navigation">
                <li class="menuitem"><a href="dashboard.html" class="active">Dashboard</a></li>
                <li class="menuitem"><a href="services.html">Diensten</a></li>
                <li class="logo"><a href="dashboard.html"><img src="assets/logo2.svg"/></a></li>
                <li class="menuitem"><a href="#">Over</a></li>
                <li class="menuitem"><a href="#">Account</a></li>
            </ul>
        </header>

        <div class="container" id="dashboard" v-cloak>

            <!-- Title & view selector -->
            <div class="col col-6 mb4">
                <h1>{{ title }}</h1>
            </div>
            <div class="col col-6">
                <select v-model="view" class="right">
                    <option value="personal">Mijn cijfers</option>
                    <option value="viaa">Totaal VIAA</option>
                </select>
            </div>

            <!-- errors -->
            <div class="col col-12">
                <div v-if="errormessages.length > 0">
                    <p>Oeps! Er blijkt een fout te zijn opgetreden.</p>
                    <p v-for="msg in errormessages">{{ msg }}</p>
                </div>
            </div>

            <!-- Big general stats -->
            <div class="col col-12" v-if="dataStats">         
                <div class="col sm-col-4 p3">
                    <p>
                        <span class="bigtext">{{ dataStats.items }}</span> items
                    </p>
                    <p>
                        geregistreerd
                    </p>
                </div>
                <div class="col sm-col-4 p3">
                    <p>
                        <span class="bigtext">{{ dataStats.archive_growth }}</span> groei
                    </p>
                    <p>
                        archief
                    </p>
                </div>
                <div class="col sm-col-4 p3">
                    <p>
                        <span class="bigtext">1234</span> items
                    </p>
                    <p>
                        something else
                    </p>
                </div>
            </div>    

            <!-- Loader gif -->
            <div class="col col-12 loader-airbox" 
                 v-if="!dataStats && errormessages.length==0">
                <img src="assets/loader.gif" alt="Loader" class="loader" />
            </div>              

            <!-- Terabytes + Piechart -->    
            <div class="col col-12 mt4 mb7"> 
                <div class="col col-8"  v-if="dataStats">
                    <p>
                        <span class="massivetext">{{ dataStats.terabytes }} TB</span>
                    </p>
                </div>

                <div class="col col-4">
                    <canvas id="statsChart"></canvas>
                </div>
            </div>

            <!-- Graphs  -->  
            <div class="col col-12 mb4" v-for="graph in graphs.personal"> <!-- Can't abstract this with active 'view' ?? -->
                <!-- Loader gif -->
                <div class="col col-12 loader-airbox"
                     v-if="graph.isLoading && errormessages.length==0">
                    <img src="assets/loader.gif" alt="Loader" class="loader" />
                </div>        
                <div class="col col-12 mb7" > <!-- Can't put v-show to this div somehow, won't show chart -->
                    <form>
                        <select @change="refreshGraph(graph, $event)" v-show="!graph.isLoading">
                            <option value="0" selected>24h</option>
                            <option value="1">2 weken</option>
                            <option value="2">2 maanden</option>
                        </select>
                    </form>
                    <canvas :id="graph.chartId"></canvas>
                </div>
            </div>
        </div>

        <script src="dist/vue.js"></script> 
        <script src="dist/moment.js"></script>
        <script src="dist/chart.js"></script>
        <script src="js/app.js"></script> 
        <script src="js/dashboard.js"></script>
    </body>
</html>
