<div class="container" id="dashboard" v-cloak>

    <!-- Title & view selector -->
    <div class="col col-12 mb4">
        <h1 class="dashboard-title">Mijn Dashboard</h1>
    </div>

    <!-- errors -->
    <div class="col col-12">
        <div v-if="errormessages.length > 0">
            <p>Oeps! Er blijkt een fout te zijn opgetreden.</p>
            <p v-for="msg in errormessages">{{ msg }}</p>
        </div>
    </div>

    <!-- Loader gif -->
    <div class="col col-12 loader-airbox" v-if="!dataStats && errormessages.length==0">
        <div class="loader">
            <span class="icon-spin3 animate-spin"></span>       
        </div>    
    </div>              

    <!-- TB + Piechart -->    
    <div class="col col-12 mt4 mb7"> 
        <div class="col col-6">
            <canvas id="statsChart"></canvas>
        </div>
        <div class="col col-6 stat-title"  v-if="dataStats">
            <p class="storage">
                <span class="massivetext">{{ dataStats.terabytes }} </span>
                <span class="item">Terabytes</span>
            </p>
        </div>    
    </div>

    <!-- Big general stats -->
    <div class="col col-12 general" v-if="dataStats">         
        <div class="col sm-col-4 p3 stat">
            <p class="stat-title">
                Geregistreerd
            </p>
            <p class="orange number">
                <span class="bigtext">{{ dataStats.items }}</span> 
                <span class="item">items</span>
            </p>

        </div>

        <div class="col sm-col-4 p3 stat">
            <p class="stat-title">
                Gedigitaliseerd
            </p>
            <p class="blue number">
                <span class="bigtext">{{ dataStats.archive_growth }}</span> 
                <span class="item">items</span>
            </p>
            
        </div>
        <div class="col sm-col-4 p3 stat">
            <p class="stat-title">
                Gearchiveerd
            </p>
            <p class="purple number">
                <span class="bigtext">1234</span>
                <span class="item">items</span> 
            </p>
            
        </div>
    </div>    

    <!-- Graphs  -->
    <div class="col col-12 mb4" v-for="graph in graphs"> 
        <!-- Loader gif -->
        <div class="col col-12 loader-airbox"
                v-if="graph.isLoading && errormessages.length==0">
            <div class="loader">
                <span class="icon-spin3 animate-spin"></span>
            </div>
        </div>     

        <div v-show="!graph.isLoading">
            <div class="graphbuttons-period-container col col-12 sm-col-6">
                <a class="graphbuttons-period-btn" 
                   @click.prevent="refreshGraph(graph, 0)" href="#">
                    Laatste Dag
                </a>
                <a class="graphbuttons-period-btn" 
                   @click.prevent="refreshGraph(graph, 1)" href="#">
                    Laatste Week
                </a>
                <a class="graphbuttons-period-btn" 
                   @click.prevent="refreshGraph(graph, 2)" href="#">
                    Laatste Maand
                </a>
                <a class="graphbuttons-period-btn" 
                   @click.prevent="refreshGraph(graph, 3)" href="#">
                    Laatste Jaar
                </a>
            </div>

            <div class="graphbuttons-data-container col col-12 sm-col-6 col-right">
                <a class="graphbuttons-data-btn right" href="#" 
                @click.prevent="loadGraphCumulative(graph)" 
                v-bind:class="{ 'active': graph.activeView == 'cumulative' }">
                    Cumulatief
                </a>
                <a class="graphbuttons-data-btn right" href="#" 
                @click.prevent="loadGraphEffective(graph)" 
                v-bind:class="{ 'active': graph.activeView == 'effective' }">
                    Effectief
                </a>
            </div>
        </div>
        
        <canvas :id="graph.chartId"></canvas>
        

    </div><!-- End of Graphs -->
</div>
