<div  id="dashboard" v-cloak>
  
    <div class="container nopadding">
        <!-- Loader gif -->
        <div class="col col-12 loader-airbox" v-show="!dataStats && dataErrors.length==0">
            <div class="loader">
                <span class="icon-spin3 animate-spin"></span>       
            </div>    
        </div>              

        <!-- dataStats errors -->
        <div class="col col-12 loader-airbox mt10" v-if="dataErrors.length > 0">
            <div class="col col-12 center" >
                <p>Oeps!</p>
                <p v-for="msg in dataErrors">{{ msg }}</p>
            </div>
        </div>
    </div>

    <div class="container nopadding">
        <div class="relative clearfix">
            <!-- Piechart part -->
            <div class="col col-7 pb7 pt4 border-right" v-bind:class="{ 'bigstats-airbox' : !dataStats && dataErrors.length==0 }">  
                <div class="col col-12 mt3 top-stats"> 
                    <div class="pie-chart-container col">
                        <canvas id="statsChart"></canvas>
                    </div>
                    <div class="legend col col-4" v-if="dataStats">
                        <div class="legend-item first-item">
                            <div class="circle blue"></div>
                            <p>Video &mdash; {{ numberWithSpaces(dataPiechart.Video) }} items</p>    
                        </div>
                        <div class="legend-item ">
                                <div class="circle blue2"></div>
                            <p>Audio &mdash; {{ numberWithSpaces(dataPiechart.Audio) }} items</p>       
                        </div>
                        <div class="legend-item">
                                <div class="circle blue3"></div>
                            <p>Film &mdash; {{ numberWithSpaces(dataPiechart.Film) }} items</p>       
                        </div>
                        <div class="legend-item">
                                <div class="circle blue4"></div>
                            <p>Papier &mdash; {{ numberWithSpaces(dataPiechart.Papier) }} items</p>       
                        </div>
                    </div>
                </div>

                <div class="col col-12 pl7">
                    <div class="col col-12 stat nobottomborder norightborder pt4" v-if="dataStats">
                        <div class="grey pt2" v-if="dataStats.terabytes < 1024">
                            <div class="bigtext col">{{ dataStats.terabytes }} </div>
                            <div class="stat-title col ml3 lower">Terabytes gearchiveerd</div>
                        </div>
                        <div class="grey pt2" v-else>
                            <div class="bigtext col">{{ (Math.round(dataStats.terabytes / 10.24) / 100).toString().replace('.', ',') }} </div>
                            <div class="stat-title col ml3 lower">Petabytes gearchiveerd</div>   
                        </div>
                    </div>
                </div>        
            </div>
            
            <!-- Big general stats -->
            <div class="col col-5 general" v-if="dataStats"> 
                <div class="col col-10 p3 stat">
                    <div class="grey pt2">
                        <span class="bigtext col">{{{ numberWithSpaces(dataStats.registered) }}}</span>
                        <span class="stat-title col">items geregistreerd</span>
                    </div>
                </div>
                <div class="col col-12 p3 stat">
                    <div class="grey pt2">
                        <span class="bigtext col">{{{ numberWithSpaces(dataStats.digitised) }}}</span>
                        <span class="stat-title col">items gedigitaliseerd</span>
                    </div>
                </div>
                <div class="col col-12 p3 stat nobottomborder">

                    <div class="grey pt2">
                        <span class="bigtext col">{{{ numberWithSpaces(dataStats.archived) }}}</span>
                        <span class="stat-title col">items gearchiveerd</span> 
                    </div>                 
                </div>          
            </div><!-- End of big stats -->    
        </div>
    </div> <!-- container -->
    <div class="divider"></div>

    <div class="container">

        
        <!-- Graphs  -->  
        <div class="col col-12 mb4 graphcontainer" v-for="graph in graphs"
            v-bind:class="{ 'graph-airplaceholder': graph.isLoading }"> 
            <div class="col col-12">
                <div class="col col-12">
                    <h3 class="graphtitle">{{ graph.chartTitle }}</h3>
                </div>
                <div class="graphs-btns-container col">
                    <div class="sub-graphs-btns-container" >
                        <a href="#" 
                            @click.prevent="refreshGraph(graph, 0)"
                            v-bind:class="{ 'active': graph.chartFormat == 0 } " >
                                Dag
                        </a>
                        <a href="#" 
                            @click.prevent="refreshGraph(graph, 1)"
                            v-bind:class="{ 'active': graph.chartFormat == 1 } " >
                                Week
                        </a>    
                    </div>
                    <div class="sub-graphs-btns-container">
                        <a href="#" 
                            @click.prevent="refreshGraph(graph, 2)"
                            v-bind:class="{ 'active': graph.chartFormat == 2 } " >
                                Maand
                        </a>
                        <a href="#" 
                            @click.prevent="refreshGraph(graph, 3)"
                            v-bind:class="{ 'active': graph.chartFormat == 3 } " >
                                Jaar
                        </a>    
                    </div>
                    
                </div>

                <div class="graphs-databtns-container col ">
                    <a href="#" 
                    @click.prevent="loadGraphCumulative(graph)" 
                    v-bind:class="{ 'active': graph.activeView == 'cumulative' }">
                        Cumulatief
                    </a>
                    <a href="#" 
                    @click.prevent="loadGraphEffective(graph)" 
                    v-bind:class="{ 'active': graph.activeView == 'effective' }">
                        Effectief
                    </a>
                </div>
            </div>
            
            <!-- Loader gif -->
            <div class="col col-12 loader-airbox" 
                v-if="graph.isLoading && graph.errormessages.length==0">
                <div class="loader">
                    <span class="icon-spin3 animate-spin"></span>
                </div>
            </div>   

            <!-- errors -->
            <div class="col col-12 loader-airbox mt10"  v-if="graph.errormessages.length > 0">
                <div class="col col-12 center">
                    <p>Oeps!</p>
                    <p v-for="msg in graph.errormessages">{{ msg }}</p>
                </div>
            </div>

            <div class="font-spacing">
                <canvas :id="graph.chartId" class="mb2" v-show="!graph.isLoading"></canvas>   <!-- Do not put this in a v-show or v-if div/container! Thank me for your saved tears later -->
            </div>

        </div><!-- End of Graphs -->

        <!-- Progress bars -->
        <div class="progresscontainer col col-12"
          v-bind:class="{ 'graph-airplaceholder': !dataStats }">
            <div class="col col-12">
                <h3 class="graphtitle">Progress</h3>
            </div>

            <!-- Loader gif -->
            <div class="col col-12 loader-airbox" v-show="!dataStats">
                <div class="loader">
                    <span class="icon-spin3 animate-spin"></span>       
                </div>    
            </div>              

            <!-- errors -->
            <div class="col col-12 loader-airbox mt10"  v-if="!progress && dataStats">
                <div class="col col-12 center">
                    <p>Oeps!</p>
                    <p v-for="msg in graph.errormessages">{{ msg }}</p>
                </div>
            </div>

            <div class="col col-12 font-spacing">
                <canvas id="progress"></canvas>
            </div>

        </div> <!-- End of Progress bars -->

    </div>        
    </div>
    <%- include('footer', {}); %>
</div>