<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API documentation</title>
</head>
<body>
<p>
<dl>
  <% routes.forEach(function(route){ %>
  <dt><%= route.title %></dt>
  <dd><a href="<%= route.url %>"><%= route.url %></a></dd>
  <% }); %>
</dl>
</p>
</body>
</html>
