<% if(withBottom == 'false'){ %>
<footer>
  <% } else{ %>  
   <footer style="bottom: 0; position: none !important;">
<% } %>
    <div class="container">
      <div class="col sm-col-8">
        <p class="lowfootertext">
            Voor meer info, mail naar <a href="mailto:support@viaa.be">support@viaa.be</a>
        </p>  
      </div>
      <div class="col sm-col-4 ">
        <p class="copyright">
            &copy; VIAA 2016
        </p>
      </div>
    </div>
</footer>

