<header>
  <ul class="navigation">

    <% navigation.forEach(function (item) { %>
    <% if (item.image) { %>
    <li class="logo">
      <% } else { %>
    <li class="menuitem">
      <% } %>
      <a href="<%- item.href %>" class="<%- item.class %>"><% if (item.image) { %><img src="/public/assets/logo2.svg"/><% } else { %><%- item.title %><% } %></a>
    </li>
    <% }); %>
    <li  class="logout"><a href="#" onclick="logout()">Uitloggen</a></li>
  </ul>
</header>