<header>
  <ul class="navigation">
    <li class="logo"><a href="/"><img src="/public/assets/logo2.svg"></a></li>

    <li class="menuitem"><a href="dashboard" class="<%- navigation['dashboard'] ? 'active' : '' %>">Dashboard</a></li>
    <li class="menuitem"><a href="services"  class="<%- navigation['services']  ? 'active' : '' %>">Diensten</a></li>
    <li class="menuitem"><a href="#"         class="<%- navigation['about']     ? 'active' : '' %>">Over</a></li>
    <li class="menuitem"><a href="#"         class="<%- navigation['account']   ? 'active' : '' %>">Account</a></li>

    <li class="logout"><a href="#" onclick="logout()">Uitloggen</a></li>
  </ul>
</header>