<header>
    <ul class="navigation">
        <li class="logo"><a href="/"><img src="/public/assets/logo2.svg"></a></li>

        <li class="menuitem"><a href="dashboard" class="mainlink <%- activePages['dashboard'] ? 'active' : '' %>">Dashboard</a></li>
        <li class="menuitem"><a href="services"  class="mainlink <%- activePages['services']  ? 'active' : '' %>">Diensten</a></li>
        <li class="menuitem"><a href="#"         class="mainlink <%- activePages['about']     ? 'active' : '' %>">Over</a></li>
        <li class="menuitem"><a href="#"         class="mainlink <%- activePages['account']   ? 'active' : '' %>">Account</a></li>


        <li class="menuitem right user">
           <a>        
                <span class="icon-user"></span>
           </a>
           <div class="user-container">
               <p>test</p>
               <p>test</p>
               <p>test</p>
               <p>test</p>
           </div>
        </li>
        
    </ul>

</header>