@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?11360300');
  src: url('../font/fontello.eot?11360300#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?11360300') format('woff2'),
       url('../font/fontello.woff?11360300') format('woff'),
       url('../font/fontello.ttf?11360300') format('truetype'),
       url('../font/fontello.svg?11360300#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?11360300#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-export:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-chart-bar:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-forward:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-database:before { content: '\e80b'; } /* '' */
.icon-chart-outline:before { content: '\e80c'; } /* '' */
.icon-info-circled:before { content: '\e80d'; } /* '' */
.icon-lock:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\e80f'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */